*{
    padding: 0;
    margin: 0;
}
/*****home***/
.header-menu{
    background-color:#487eb0;
}
.header-menu ul{ text-align: center;
}
.header-menu ul li{
    display: inline-block;
    position: relative;
    
}
.header-menu ul li a{
    color:white;
    display: inline-block;
    padding: 24px 60px;
    font-size: 20px;
    text-decoration:none ;
    border-right: 1px solid #ddd;

}
.header-menu ul li:first-child a{
    border-left: 1px solid #ddd;

}

.header-menu ul li:hover > a{
    background: #474787;
}
/*  DropDonw menu start   */

.header-menu ul li ul{
    position: absolute;
    left: 0;
    top: 100%;
    width: 300px;
    transition: .5s;
}
.header-menu ul li ul{

    background:#487eb0 ;
    border-top: 1px solid #ddd;

}
.header-menu ul li ul li{
    display: block;
    margin-left: -4px;
}
.header-menu ul li ul li a{
    display: block;
    border: none;
    border-bottom: 1px solid #ddd;
}
.header-menu ul ul li:first-child a{
    border-left:none;
}
/*hover part*/
.header-menu ul li ul{
    opacity: 0;
    visibility: hidden;
    transform: scaley(0);
    transform-origin: top center;
    
}
.header-menu ul li:hover ul{
    opacity: 1;
    visibility: visible;
    transform: scaley(1);
    
}
.header-menu ul li ul li a:hover{}
/* socialmenu*/
.socialmenu ul{
    margin-top: 100px;
    
}
.socialmenu ul li{
    display: inline-block;
    background: cornflowerblue;
    color: white;
    
    font-size: 30px;
    margin-left: 50px;
    height: 50px;
    width: 50px;
    line-height: 50px;
    border-radius: 50%;
}
.socialmenu ul li a{}
.socialmenu ul li a:hover{}
/*****header menu****/
.our-talk{
    background:#7474a7;
    padding: 200px;
}
.our-talk ul{
display: inline-block;

}
.our-talk ul li{
    display: inline-block;  
}
.our-talk ul li a{
    color: #fff;
    font-size: 40px;
    text-decoration: none;
    background:#ffcd42;
    padding: 40px 20px;
    border: 1px solid #ddd;
}
.our-talk ul li a:hover{
    background: #037cd5;
}
.bg-gray{
    background-color:#bac1d3;
}
.bg-white{
    background:#ece6c9;
}
span{
    font-size: 30px;
    text-decoration: none;
}
i{
    font-weight: 800;
    font-size: 50px;
}
.lal{
    background:cadetblue;
    border-radius: 70%;
}
.man{
    color:#f2f2f2;
    margin-left:-130px;
    margin-top: -190px;
}
.span{
    text-decoration:none;
}
/****about****/
.right{
float: right;
}
.image{
   margin-top: 10px;
   background:rosybrown;
}
.btn{
   color: saddlebrown;
   background: skyblue;
}
.bg{
    margin-top: 10px;
    background: #17349a;
    color: snow;
}
.gul{
    color: beige;
    background:#9996b7;
    border-radius: 50%;
    padding: 70px 50px;
  margin-left: -90px;
  box-shadow: 5px 10px black;
    
}
/******3rd section****/
.plan{
    text-align: left;
    margin-top: 80px;
}
.but{
    color: floralwhite;
    background: #be881e;
    text-decoration: none;
    border: 1px solid #ddd;
    padding: 10px;
  
}
img {
    border-radius: 50% ;
   border: 1px solid #ddd;
   margin-top: -5px;

  }
  .p{
      margin-top: 10px;
      border-radius: 50%;
      background: red;
   height: 100px;
   width: 100px;
   margin-left: -50px;
  }
  .r{
    margin-top: -50px;
    border-radius: 50%;
    background:#cccccc;
    border: 8px solid red;
 height: 50px;
 width: 50px;
 margin-left: -100px;

  }
  .u{
    margin-top:-400px;
    border-radius: 50%;
    background:rgb(218, 10, 10);
    border: 8px solid red;
 height: 100px;
 width: 100px;
 margin-left: 500px;
  }
  .v{
    margin-top: 10px;
    border-radius: 50%;
    background:#fff;
    border: 8px solid red;
 height: 100px;
 width: 100px;
 margin-left: -10px;
  }
  .head{
      margin-top: 120px;
      margin-right:-250px;
font-size: 30px;
text-align: right;
float: right;
  }
  .shada{
      background-color: lightslategray;
  }
